body{
  margin: 0;
}
  /* Navigation bar*/
ul { 
  line-height: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BEBCB0;
  font-family: 'Work Sans', sans-serif;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #BDA995;
  }
  
  .active {
    background-color: #A8927F;
  }

  .content-flex {
      display: flex;
  }
  
.main-content {
  padding: 50px 100px;
  font-size: 30px;
  color: white;
  background-image: url(image/Marble-Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Work Sans', sans-serif;
}


.portrait {
  text-align: center;
  flex: 1;
}
.main-contact {
  padding: 50px 100px;
  font-size: 40px;
  color: #FFFFFF;
  background-image: url(image/Marble-Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Work Sans', sans-serif;
}
.Blue-Marble-Background.jpg{
  height: 100%;  
}
  
.contact-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 818px;
}
  
.Socials{
  text-align: center;
  flex: 1;
}
.contact{
  color: #AF7E77;
}

.contact-info{
  display: flex;
  justify-content: left;
}
.contact a{
  display: flex;
  color: #E4BD82;
}
.contact a:hover {
  background-color: #A29B9D;
  }

.skill-wrapper {
    display: flex;
    background-image: url(image/dark-rock-background.jpg)
}

.skill-box {
  text-align: center;
  width: 50%;
  border: 2px solid white;
  line-height: 60px;
}

.skill-box:first-child {
  margin-right: 20px;
}

.skill-box h2 {
  text-align: center;
  margin: 100px;
  border-bottom: 2px solid #fff;
}

.project-content h3 {
  margin: 0;
}

.project-thumb {
  background-size: cover;
  width: 450px;
  margin-right: 20px;
  height: 400px;
}
.project-box {
  display: flex;
  padding: 20px 0;
  border-bottom: 2px solid white;
}
.project-wrapper {
  border: 2px solid white;
  padding: 50px;
}
.project-box:last-child {
  border-bottom: 0;
}
.project-content p{
  color: white;
}